<div class="header">
        <div style="float: left; padding-left: 50px; padding-top: 35px;"><img src="{{ url_for('static', filename='logo-weiss.png') }}" alt="Greipl Logo" height="75"></div>

        <div class="navbar">
                <a href="/" id="{% if request.path == '/' %}active-link{% endif %}">Auftragsbestand</a>
                <a href="/vorrat" id="{% if request.path == '/vorrat' %}active-link{% endif %}">Arbeitsvorratsliste</a>
                <a href="/programmierliste" id="{% if request.path == '/programmierliste' %}active-link{% endif %}">Programmierliste</a>
                <a href="/kpi" id="{% if request.path == '/kpi' %}active-link{% endif %}">Kennzahlen</a>
                <a href="/tools" id="{% if request.path == '/tools' %}active-link{% endif %}">Tools</a>
                <a href="/settings" id="{% if request.path == '/settings' %}active-link{% endif %}"><img class="icon" src="{{ url_for('static', filename='gear.png') }}" alt="Icon" height="40px" style="filter: invert(100%);"></a>
        </div>
</div>

{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for msg in messages %}
                        <div style="float: bottom; height: 35px; width: 1400px; padding-left: 20px; padding-right: 20px;
                                margin: 0 auto; margin-top: 1px; background-color: #0082da; display: flex;align-items: center;
                                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                                <span>{{ msg }}</span>
                        </div>
                {% endfor %}
        {% endif %}
{% endwith %}

