<!DOCTYPE html>
<html>
<head>
    <title>GREIPL-MES</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <h2>Fertigungsaufträge E1</h2>

            <table class="table1" >
                <tr>
                    <th>STAT</th>
                    <th colspan="3">Fertigungsauftrag</th>
                    <th>Pos</th>
                    <th></th>
                    <th>GREIPL-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Menge</th>
                    <th>Start</th>
                    <th>Ende</th>
                    <th>SMT-Linie</th>
                    <th>AOI-Rework</th>
                    <th>THT-Welle</th>
                    <th>Manuell</th>
                    <th>Prüfung E1</th>
                </tr>
                {% for (year, week), jobs in grouped_jobs.items() %}
                    <tr style="background-color: orange; height: 15px; font-weight:bold;" >
                        <td style="text-align:left;" colspan="11">{{ year }}, KW: {{ week }}</td>
                        {% for AG in ['2410-01', '2410-50', '2410-03', '2410-04', '2450-01'] %}
                            {% set workload = kw_workload.get((year, week, AG), 0) %}
                            <td style="background-color: #5fde7f;
                                {% if (((workload[0]/60)/40)*100) > 100 %}background-color: #fa6f50;{% endif %}
                                {% if (((workload[0]/60)/40)*100) < 20 %}background-color: #5A8FDC;{% endif %}
                            ">{{ (((workload[0]/60)/40)*100) | round(1) }}%<br> {{ (workload[0]/60) | round(1) }} h</td>  <!-- Hier wird der Workload für die aktuelle Maschine angezeigt -->
                        {% endfor %}
                    </tr>
                    {% for job in jobs %}
                    <tr class="job-row">
                        <td>{{ job.Zustand }}</td>
                        <td class="auftrag-num" data-auftrag="{{ job.Auftrag }}">{{ job.Auftrag }}</td>
                        <td>{{ job.StartTermPlan.strftime('%d.%m-') }}</td>
                        <td>{{ job.EndTermPlan.strftime('%d.%m.%y') }}</td>
                        <td>{{ job.Pos }}</td>
                        <td>{{ job.ArbBez[:3] }}</td>
                        <td>{{ job.Teil }}</td>
                        <td>{{ job.Bez }}</td>
                        <td>{{ job.Mng }}</td>
                        <td>{{ job.StartTermPlan.strftime('%d.%m.%Y') }}</td>
                        <td>{{ job.EndTermPlan.strftime('%d.%m.%Y') }}</td>
                        <td>{% if job.PmNr == "2410-01" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-50" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-03" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-04" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2450-01" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>


        <p style="font-size:8px; float: right; color: lightgrey">Tobias Eder 2023</p>
    </div>

</body>
</html>

<script>
    // Event-Listener hinzufügen, um auf Auftragsnummern zu klicken
        document.querySelectorAll('.auftrag-num').forEach(function(cell) {
        cell.addEventListener('click', function() {
            const clickedAuftrag = cell.getAttribute('data-auftrag'); // Auftragsnummer der angeklickten Zelle

            // Alle Zeilen durchsuchen und hervorheben, wenn die Auftragsnummer übereinstimmt
            document.querySelectorAll('.job-row').forEach(function(row) {
                const rowAuftrag = row.querySelector('.auftrag-num').getAttribute('data-auftrag');
                if (rowAuftrag === clickedAuftrag) {
                    // Markiere die Zeile und setze Textfarbe auf Weiß
                    row.style.backgroundColor = '#0b2945'; // Hintergrund auf Gelb setzen
                    row.style.color = 'white'; // Textfarbe auf Weiß setzen
                    row.querySelectorAll('td').forEach(function(td) {
                        td.style.color = 'white'; // Stelle sicher, dass alle Zellen den Text in Weiß anzeigen
                    });
                } else {
                    // Entferne die Markierung und setze Textfarbe zurück
                    row.style.backgroundColor = ''; // Hintergrund zurücksetzen
                    row.style.color = ''; // Textfarbe zurücksetzen
                    row.querySelectorAll('td').forEach(function(td) {
                        td.style.color = ''; // Setze die Textfarbe in den Zellen zurück
                    });
                }
            });
        });
    });
</script>