<!DOCTYPE html>
<html>
<head>
    <title>GREIPL-MES</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <h2>Fertigungsaufträge E1</h2>

            <table class="table1" >
                <tr>
                    <th>STAT</th>
                    <th colspan="3">Fertigungsauftrag</th>
                    <th>Pos</th>
                    <th></th>
                    <th>GREIPL-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Menge</th>
                    <th>Start</th>
                    <th>Ende</th>
                    <th>SMT-Linie</th>
                    <th>AOI-Rework</th>
                    <th>THT-Welle</th>
                    <th>Manuell</th>
                    <th>Prüfung E1</th>
                </tr>
                {% for (year, week), jobs in grouped_jobs.items() %}

                    <tr style="background-color: orange; height: 15px; font-weight:bold;" >
                        <td style="text-align:left;" colspan="11">{{ year }}, KW: {{ week }}</td>
                        {% for AG in ['2410-01', '2410-50', '2410-03', '2410-04', '2450-01'] %}
                            <td style="
                            {% for wl in workload %}
                                {% if (wl.gruppe == AG) and (wl.year == year) and (wl.kw == week) %}
                                    {% if (((wl.h_plan / (wl.h_ist + 1)) * 100)) > 110 %}
                                       background-color: #ff8f8f;
                                    {% elif (((wl.h_plan / (wl.h_ist + 1)) * 100)) > 80 %}
                                        background-color: #a4ff8f;
                                    {% elif (((wl.h_plan / (wl.h_ist + 1)) * 100)) < 80 %}
                                        background-color: #8fe5ff;
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            ">
                                {{ AG }} </br>
                                {% for wl in workload %}
                                    {% if (wl.gruppe == AG) and (wl.year == year) and (wl.kw == week) %}
                                        {% if wl.h_ist < 1 %}
                                            IST {{ wl.h_ist }}</br>
                                            PLAN {{ wl.h_plan }}</br
                                            <b>-----</b>
                                        {% else %}
                                            IST {{ wl.h_ist }}</br>
                                            PLAN {{ wl.h_plan }}</br>
                                            {{  ((wl.h_plan / (wl.h_ist + 1)) * 100) | round(1) }}%
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>  <!-- Hier wird der Workload für die aktuelle Maschine angezeigt -->
                        {% endfor %}
                    </tr>
                    {% for job in jobs %}
                    <tr class="job-row"
                        {% if job.Zustand == "60" %}
                        style="background-color: lightgreen;"
                        {% endif %}
                    >
                        <td>{{ job.Zustand }}</td>
                        <td class="auftrag-num" data-auftrag="{{ job.Auftrag }}">{{ job.Auftrag }}</td>
                        <td>{{ job.StartTermPlan.strftime('%d.%m-') }}</td>
                        <td>{{ job.EndTermPlan.strftime('%d.%m.%y') }}</td>
                        <td>{{ job.Pos }}</td>
                        <td>{{ job.ArbBez[:3] }}</td>
                        <td>{{ job.Teil }}</td>
                        <td>{{ job.Bez }}</td>
                        <td>{{ job.Mng }}</td>
                        <td>{{ job.StartTermPlan.strftime('%d.%m.%Y') }}</td>
                        <td>{{ job.EndTermPlan.strftime('%d.%m.%Y') }}</td>
                        <td>{% if job.PmNr == "2410-01" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-50" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-03" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2410-04" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                        <td>{% if job.PmNr == "2450-01" %} {{ (job.Zeit / 60) | round(1) }} h {% endif %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>


        <p style="font-size:8px; float: right; color: lightgrey">Tobias Eder 2023</p>
    </div>

</body>
</html>

<script>
    document.querySelectorAll('.auftrag-num').forEach(function(cell) {
    cell.addEventListener('click', function() {
        const clickedAuftrag = cell.getAttribute('data-auftrag');

        document.querySelectorAll('.job-row').forEach(function(row) {
            const rowAuftrag = row.querySelector('.auftrag-num').getAttribute('data-auftrag');

            // Speichert die ursprüngliche Hintergrundfarbe, falls nicht bereits gespeichert
            if (!row.dataset.originalBgColor) {
                row.dataset.originalBgColor = row.style.backgroundColor || 'white';
            }

            if (rowAuftrag === clickedAuftrag) {
                row.style.backgroundColor = '#0b2945';
                row.style.color = 'white';
                row.querySelectorAll('td').forEach(td => td.style.color = 'white');
            } else {
                row.style.backgroundColor = row.dataset.originalBgColor; // Setzt die ursprüngliche Farbe zurück
                row.style.color = '';
                row.querySelectorAll('td').forEach(td => td.style.color = '');
            }
        });
    });
});

</script>