<tr>
                            <td style="
                            {% if job.Zustand == '10' %}
                                border-left: 4px solid #A0A0A0;
                            {% elif job.Zustand == '20' %}
                                border-left: 4px solid #a4e2eb;
                            {% elif job.Zustand == '30' %}
                                border-left: 4px solid #60A5FA;
                            {% elif job.Zustand == '40' %}
                                border-left: 4px solid #fcd703;
                            {% elif job.Zustand == '50' %}
                                border-left: 4px solid #FB923C;
                            {% endif %}
                            ">
                            <!-- {{ job.delay }}
                            {{ job.Pos }} -->
                            {% if job.delay | int < -1 and job.Zustand  | int < 50 %}
                                <img class="blink" src="{{ url_for('static', filename='late.png') }}" alt="Icon" height="20px" style="filter: invert(0%);">
                                {% else %}
                                <img src="{{ url_for('static', filename='late.png') }}" alt="Icon" height="20px" style="filter: invert(100%);">
                            {% endif %}

                            {% set match_found = auftrag_info | selectattr("fa_mat", "equalto", 1)
                                      | selectattr("fa_nr", "equalto", job.Auftrag | int)
                                      | list
                                      | length > 0 %}
                            {% if match_found %}
                                <img src="{{ url_for('static', filename='goods.png') }}" alt="Icon" height="20px" style="filter: invert(0%);">
                            {% else %}
                                <img src="{{ url_for('static', filename='goods.png') }}" alt="Icon" height="20px" style="filter: invert(80%);">
                            {% endif %}

                        {% if job.Zustand | int > 40 %}
                            <img class="icon" src="{{ url_for('static', filename='spanner.png') }}" alt="Icon" height="20px" style="filter: invert(0%);">
                            {% else %}
                            <img class="icon" src="{{ url_for('static', filename='spanner.png') }}" alt="Icon" height="20px" style="filter: invert(80%);">
                        {% endif %}
                        </td>

                        <td  style="white-space: nowrap; text-align: left;">{{ job.StartTermPlan.strftime('%d.%m.%y %a') }}</td>
                        <td>
                            <div style="border-radius: 25px; height: 50px; width:50px; line-height: 50px; text-align: center;
                            background-color:
                            {% if job.job_ahead_zustand == '10' or job.job_ahead_zustand == '20' or job.job_ahead_zustand == '30'%}
                                #B0B0B0;
                            {% endif %}
                            {% if job.job_ahead_zustand == '40' %}
                                #B0B0B0;
                            {% endif %}
                            {% if job.job_ahead_zustand == '50' %}
                                #5A8FDC;
                            {% endif %}
                            {% if job.job_ahead_zustand == '60' %}
                                #6C9E6F;
                            {% endif %}
                            {% if not job.job_ahead_zustand  %}
                                #6C9E6F;
                            {% endif %}
                            ">
                                    {{ job.job_ahead }}
                            </div>
                        </td>

                        <td>{{ job.Auftrag }}</td>
                        <td>{{ job.Zustand }}</td>
                        <td>{{ job.Teil }}</td>
                        <td style="text-align: left;">{{ job.Bez | truncate(20, True, '') }}</td>
                        <td style="width: 350px;">{{ job.posbez }}</td>
                        <td style="border-left: 2px solid black; text-align: left;">
                            <b>
                                {% if job.Zeit and job.Zeit != 0 %}
                                {{ (job.ZeitIst / job.Zeit * 100) | round(0) }} %
                                {% else %}
                                0 %
                                {% endif %}
                            </b>|
                            {{ (job.ZeitIst / 60) | round(0) }}/{{ (job.Zeit / 60) | round(0) }}h

                        </td>
                        <td>{{ job.MngRest | round(0) }}</td>

 </tr>